config.php
.htaccess
*.log
*_log
img
img/*
*.sh
*.code-workspace
work
work/*
relat
relat/*
.vscode
.vscode/*
teste
editor
editor.bat
*.lnk
*.bat
etc
etc/*
VERSAO
VERSAO/*
filial
filial.bat
adm
admlocal
admdesenv
scripts
scripts/*
barramento/*.LK
barramento/works/
bases/
claudir/
dados/
etiquetas/
etiquetasmix/
financeira/
gabriel/
helio/
import/
relat-prestamista/
seguro/
tmp/
verus/
zebra-fila/
zebra/

